:root {
    --text-green-color: rgb(64, 207, 114);
}

* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    margin: 30px;
    background: black;
    color: var(--text-green-color)
}

p {
    margin-left: 0;
    font-size: 20px;
}

textarea {
    border: none;
    overflow: hidden;
    outline: none;
    background-color: transparent;
    font-size: 20px;
    color: white;
    padding: 0;
    resize: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none; /*remove the resize handle on the bottom right*/

    margin: 2px;
}

.user-prompt {
    color: var(--text-green-color);
    font-size: 20px;
    margin: 0 0 0px 0;
    padding-top: 11px;
}

.text-field {
    margin: 0;
    padding-top: 0px;
    font-size: 20px;
    tab-size: 4;
    color: white;
}

.input-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 9px 0 9px 0;

}

.prompt-text{
    margin: 0 12px 0 0;

}

.cmd-text {
    font-size: 20px;
    color: white;
    padding-top: 11px;
    margin: 0 0 0 14px;
    display: inline;
}

.cmd-text-container {
    display: flex;
    flex-direction: row;
}

.train-div {
    animation: 1s ease-out 0s 1 slideInFromRight;
}

@media screen and (max-width: 850px) {
    pre {
        text-align: justify;
        white-space: normal;
    }
    textarea{
        max-width: 100px;
    }
}

@keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

